<a href="https://colab.research.google.com/github/cjflanagan/sample_data/blob/master/hashing_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
fake_customer_data = pd.read_csv('https://raw.githubusercontent.com/cjflanagan/sample_data/master/fake_customer_data.csv')

In [46]:
fake_customer_data.head()

                         CustomerName         ContactName  ... PostalCode  Country
0                 Alfreds Futterkiste        Maria Anders  ...      12209  Germany
1  Ana Trujillo Emparedados y helados        Ana Trujillo  ...       5021   Mexico
2             Antonio Moreno Taquería      Antonio Moreno  ...       5023   Mexico
3                     Around the Horn        Thomas Hardy  ...    WA1 1DP       UK
4                  Berglunds snabbköp  Christina Berglund  ...   S-958 22   Sweden

[5 rows x 6 columns]

In [84]:
hash('cathalf@stanford.edu')

7187812429970606314

In [52]:
fake_customer_data.CustomerName.apply(hash)

0    -2233713389473403279
1     7912633391080260309
2     8816844986705580816
3      497700275669085698
4    -7225001119313345446
5     6401787857195469718
6    -8386952703023743962
7     1360039660956583587
8     -885005285799633424
9     7659111501509867860
10   -4201315301074246222
11    6214999702256784573
12   -5810393427175848941
13    4022580735871860472
14    -285117188065772166
15    7573224921887805363
16   -1243315367728202385
17   -7626383373322868144
18   -2619143152330546375
19    2378637776718174647
20   -2970912343193626277
21    1991919801257771493
22   -1744235342031050580
Name: CustomerName, dtype: int64

In [0]:
import hashlib

In [63]:
hashlib.sha224("Nobody insppaects the spammish repetition".encode()).hexdigest()

'b4a7862ad72735ca4a4fb9b7efd3297cee4431c7367f8b8407253df0'

In [0]:
def hash_string(string_to_hash):
  return hashlib.sha224(string_to_hash.encode()).hexdigest()

In [95]:
fake_customer_data['hashed_customer_name'] = fake_customer_data.CustomerName.apply(hash_string)
fake_customer_data.head()

                         CustomerName  ...                               hashed_customer_name
0                 Alfreds Futterkiste  ...  42baeec2045ef6fe91744bef955c17530bcdc9544cac45...
1  Ana Trujillo Emparedados y helados  ...  52387a329fb1cab5ce7c6bd7eb13ecbb22bd906ab34755...
2             Antonio Moreno Taquería  ...  226e0edff61be344dfa324b344ebdc9f6cda2851d28a9a...
3                     Around the Horn  ...  22512d6469b9d200a373913cbe5c2b12788946772f73cc...
4                  Berglunds snabbköp  ...  7560a8dc50cf3e77c646cb6227b53a785354149dd7f403...

[5 rows x 7 columns]

In [94]:
hash_table = dict(zip(fake_customer_data.hashed_customer_name, fake_customer_data.CustomerName))
hash_table

{'1038b7299d89d4f63533f930e8b834b86da77cbacf7b15bc05d0b091': 'Comércio Mineiro',
 '22512d6469b9d200a373913cbe5c2b12788946772f73cc46a0898f73': 'Around the Horn',
 '226e0edff61be344dfa324b344ebdc9f6cda2851d28a9acbd7bfe9ca': 'Antonio Moreno Taquería',
 '30a3725581ed79126f272b8aeb2690a3adc6b1170e993670bb46b0ff': "B's Beverages",
 '42baeec2045ef6fe91744bef955c17530bcdc9544cac457e4a642f8c': 'Alfreds Futterkiste',
 '47f0e3cf953d7fe1e99109d2a25bdebd75814918246266d7f9625017': 'Familia Arquibaldo',
 '52387a329fb1cab5ce7c6bd7eb13ecbb22bd906ab34755758baaab34': 'Ana Trujillo Emparedados y helados',
 '5b73e4afc3cff840d9968732ed592f63e92e1ff764dd6925e00c4f36': 'Bólido Comidas preparadas',
 '6cbdae04f2986f0effe345e30e45bd5f9644dc596d2aacb5c4f43730': 'Chop-suey Chinese',
 '6d85c448b4d80d01fb19c3d5929bc10ec8e8c6457b3e4a8d8246600a': 'Consolidated Holdings',
 '7560a8dc50cf3e77c646cb6227b53a785354149dd7f403f9d8ba1eb5': 'Berglunds snabbköp',
 '7f50d999d2cd97f299b20023acfff4dd53574a2d13b4b49ec5e3b343': 'Eastern Connection',
 'a138595e857da0a7e858382f8ba43e457b675776194b7b981f859e25': 'Folies gourmandes',
 'ab54796887bf72bd226d429e61561a5e4c2fc542003d34c975746328': "Bon app'",
 'c42b2691368f28028f45f9e88b9f2b1513ef4f43a39c045d20eae47d': 'Bottom-Dollar Marketse',
 'c865a50f6edffeb765054288b22f34cbcaf31474c5fed569ea67d2a5': 'Blauer See Delikatessen',
 'd20060389ea3ed1e6d56b4802f9cad83974f068603fd09d1b35d89df': 'Centro comercial Moctezuma',
 'd9a31760e29118687d0ad208bfb35c922d16e5f1d294b48ffb75a12d': 'Blondel père et fils',
 'dbb4cc0216739526bc23167d363e0019bea65a87659b8722edbc19fe': 'FISSA Fabrica Inter. Salchichas S.A.',
 'dd84ffd231fc740591ae6fdda3717ba235093940d03bd77fbc17b13c': 'Cactus Comidas para llevar',
 'e8a69fa70797fb97223d92aa5bc3d729422d9c428944035603b758dc': 'Drachenblut Delikatessend',
 'f7b86cb31fc86fe77406c3ac5f0ae4836fb6d6bc8f4ac0ab03068e0c': 'Du monde entier',
 'f8e8e0fb6e1f989bd961a171860044f72a24e8fe16d3e9b3b07f5ca6': 'Ernst Handel'}

In [92]:
fake_customer_data.head()

                         CustomerName  ...                               hashed_customer_name
0                 Alfreds Futterkiste  ...  42baeec2045ef6fe91744bef955c17530bcdc9544cac45...
1  Ana Trujillo Emparedados y helados  ...  52387a329fb1cab5ce7c6bd7eb13ecbb22bd906ab34755...
2             Antonio Moreno Taquería  ...  226e0edff61be344dfa324b344ebdc9f6cda2851d28a9a...
3                     Around the Horn  ...  22512d6469b9d200a373913cbe5c2b12788946772f73cc...
4                  Berglunds snabbköp  ...  7560a8dc50cf3e77c646cb6227b53a785354149dd7f403...

[5 rows x 7 columns]

In [93]:
hash_table['1038b7299d89d4f63533f930e8b834b86da77cbacf7b15bc05d0b091']

'Comércio Mineiro'